<section
  class="relative w-full h-[924px] bg-cover bg-center bg-[url('/assets/images/hero-bg.webp')]"
>
  <div class="relative z-10 mx-auto px-4 md:px-8 xl:px-0 xl:max-w-[1200px] xl:top-56">
    <div class="flex items-center space-x-4 pb-6">
      <img src="/assets/icons/gear.svg" alt="Ícone Engrenagem" class="h-7 w-16" />
      <span class="font-display font-bold text-2xl leading-none tracking-normal text-white"
        >Transformando Ideias em Inovação</span
      >
    </div>

    <h1
      class="font-display font-bold text-[70px] leading-none tracking-normal md:text-6xl lg:text-7xl text-white pb-11"
    >
      Impulsione Seus <br />
      Resultados com Inovação
    </h1>

    <p class="font-inter font-normal text-[26px] leading-8 tracking-normal text-gray-300 pb-15">
      Descubra como nossa expertise em tecnologia pode impulsionar <br />
      seus negócios. Conheça a solução que vai além das <br />
      expectativas.
    </p>

    <app-button label="Fale Conosco" link="#contato"></app-button>
  </div>

  <div class="absolute top-32 right-8 lg:right-32 z-0 hidden md:block">
    <img src="/assets/images/dots-grid.svg" alt="" class="opacity-50" />
  </div>
  <div class="absolute bottom-0 right-0 z-0 pointer-events-none">
    <img src="/assets/images/shape-orange.svg" alt="" class="h-64 lg:h-96 w-auto opacity-90" />
  </div>
</section>
