<nav class="bg-linear-to-r from-[#04439A] to-[#1258BA] xl:bg-none lg:bg-white border-b border-[#0000000D] fixed w-full navbar-height top-0 z-50 xl:px-30">
  <div class="hidden xl:block absolute left-0 top-0 h-full w-full xl:w-[31.688rem] bg-linear-to-r from-[#04439A] to-[#1258BA] clip-trapezoid z-0"></div>
  <!-- <div class="max-w-7xl mx-auto relative z-10 items-center h-full"> -->
  <div class="mx-auto relative z-10 items-center h-full">
    <div class="flex justify-between h-full px-4 md:px-6 lg:px-8 xl:px-0">
      <div class="shrink-0 flex items-center">
         <picture>
          <img src="../../../../assets/images/Logo.svg" alt="Logo ITHub">
        </picture>
      </div>

      <div class="hidden sm:ml-6 lg:ml-0 sm:flex sm:items-center sm:space-x-8 lg:space-x-14">
        <a href="#" class="font-display font-medium lg:font-bold text-base leading-none text-white xl:text-title">Início</a>
        <a href="#" class="font-display font-medium lg:font-bold text-base leading-none text-white xl:text-title">Sobre</a>
        <a href="#" class="font-display font-medium lg:font-bold text-base leading-none text-white xl:text-title">Serviços</a>
        <a href="#" class="font-display font-medium lg:font-bold text-base leading-none text-white xl:text-title">Projetos</a>
        <a href="#" class="font-display font-medium lg:font-bold text-base leading-none text-white xl:text-title">Contato</a>
      </div>

      <div class="flex items-center sm:hidden">
        <button (click)="toggleMenu()" type="button" class="inline-flex items-center justify-center  rounded-md text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
          <span class="sr-only">Abrir menu</span>
          
          @if (!isMenuOpen) {
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          } @else {
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          }
        </button>
      </div>
    </div>
  </div>

  @if (isMenuOpen) {
    <div class="sm:hidden bg-white border-b border-gray-200">
      <div class="pt-2 pb-3 space-y-1 px-2">
        <a href="#" class="bg-indigo-50 border-l-4 border-[#04439A] text-[#1258BA] block pl-3 pr-4 py-2 text-base font-medium">Início</a>
        <a href="#" class="border-l-4 border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 block pl-3 pr-4 py-2 text-base font-medium">Sobre</a>
        <a href="#" class="border-l-4 border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 block pl-3 pr-4 py-2 text-base font-medium">Serviços</a>
        <a href="#" class="border-l-4 border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 block pl-3 pr-4 py-2 text-base font-medium">Projetos</a>
        <a href="#" class="border-l-4 border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 block pl-3 pr-4 py-2 text-base font-medium">Contato</a>
      </div>
    </div>
  }
</nav>
