@import 'tailwindcss';

@layer utilities {
  .navbar-height {
    height: calc(100vw * (100 / 1440));
    max-height: 100px;
    min-height: 70px;
  }
}

@layer components {
  .clip-trapezoid {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  }
}

@theme {
  --font-display: 'Arimo', 'sans-serif';
  --font-inter: 'Inter', 'sans-serif';
  --color-primary: #1258ba;
  --color-secondary: #f58634;
  --color-title: #021329;
  --color-description: #333333;
}
